.task-list__result {
    height: 21px;
}

.task-list__result:focus {
    outline-color: orange;
}

.task-list__result.correct {
    background-color: yellowgreen;
}

.task-list__result.in-correct {
    background-color: red;
}

.task-list {
    list-style-type: decimal;
    display: grid;
    gap: 10px;
}

.oneTask--js {
    margin-left: 20px;
}

.task-list__item {
    /*display: grid;*/
    /*grid-template-columns: minmax(100px, auto) 1fr 1fr;*/
    /*gap: 10px;*/
    align-items: center;
    border: 2px solid transparent;
}

.task-list__item:hover {
    border: 2px solid orange;
}

.focus {
    border: 2px solid orange;
}

.how-many-task {
    margin-right: 30px;
    color: gray;
}